<!-- Footer Component -->
<footer class="footer bordered-section">
  <div class="footer__inner">
    <div class="footer__block-list">
      <div class="footer__block footer__block--text">
        <div class="v-stack gap-4">
          <p class="h6">Sobre</p>
          <div class="prose text-subdued">
            <p>A ANNA PRATA busca oferecer em suas peças elegância, proximidade e charme.<br/>
            Produzidos artesanalmente, os acessórios são detalhes que destacam a beleza de cada mulher.</p>
          </div>
        </div>
      </div>
      
      <div class="footer__block footer__block--links">
        <div class="v-stack gap-4">
          <p class="h6">Institucional</p>
          <ul class="v-stack gap-2.5 unstyled-list">
            <li><a href="/pages/sobre-o-atelier-anna-prata.html">Sobre a marca</a></li>
            <li><a href="/pages/contato.html">Fale conosco</a></li>
            <li><a href="/pages/vip.html">Grupo VIP</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__block footer__block--links">
        <div class="v-stack gap-4">
          <p class="h6">Políticas</p>
          <ul class="v-stack gap-2.5 unstyled-list">
            <li><a href="/policies/privacy-policy">Política de Privacidade</a></li>
            <li><a href="/policies/terms-of-service">Termos de Serviço</a></li>
            <li><a href="/policies/refund-policy">Política de Reembolso</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__block footer__block--text">
        <div class="v-stack gap-4">
          <p class="h6">NOSSAS LOJAS</p>
          <div class="prose text-subdued">
            <p><strong>M A Prata Filho Acessorios E-Commerce LTDA</strong><br/>
            CNPJ: 00.000.000/0000-00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__aside">
      <p class="heading text-subdued text-xxs">© 2025 - Anna Prata</p>
    </div>
  </div>
</footer> 