<!-- Footer -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__column">
      <h3 class="footer__title">INSTITUCIONAL</h3>
      <div class="footer__links">
        <span>Sobre a marca</span>
        <span>Fale conosco</span>
        <span>Seja uma revendedora</span>
        <span>Lapidação Exclusiva</span>
      </div>
    </div>

    <div class="footer__column">
      <h3 class="footer__title">POLÍTICAS</h3>
      <div class="footer__links">
        <span>Política de Frete</span>
        <span>Política de Garantia</span>
        <span>Política de Troca e Devolução</span>
        <span>Política de Privacidade</span>
        <span>Aviso Legal</span>
      </div>
    </div>

    <div class="footer__column">
      <h3 class="footer__title">NOSSAS LOJAS</h3>
      <div class="footer__info">
        <p>M A Prata Filho Acessorios E-Commerce LTDA</p>
        <p>CNPJ: 36.756.481/0001-07</p>
        <p>Rua 137, 499 Qd.49 Lote 08 Setor Marista CEP: 74.170-120, Goiânia - GO</p>
        
        <div class="footer__contact">
          <p>Contato:</p>
          <p>ATELIER VAREJO:</p>
          <p>+ 55 62 39880815</p>
          
          <p>ATACADO</p>
          <p>+ 55 62 993135051 - Whatsapp</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__social">
    <span class="footer__social-icon">
      <i class="fab fa-facebook-f"></i>
    </span>
    <span class="footer__social-icon">
      <i class="fab fa-instagram"></i>
    </span>
    <span class="footer__social-icon">
      <i class="fab fa-pinterest"></i>
    </span>
    <span class="footer__social-icon">
      <i class="fab fa-snapchat-ghost"></i>
    </span>
  </div>
</footer> 